/* Bing wants a h1 to index a page, but we don't care */
h1 {
  display: none;
}

/* page style */

html {
  text-size-adjust: none;
}

body {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  background: var(--gradient-page);
}

a {
  text-decoration: none;
  color: royalblue;
}